Cloudflare DNS uses wrong MIME headers for "application/dns+json" as per RFC 8427

I'm not sure where to post this issue, so I'm asking for forgiveness in advance. I posted this issue in the [docs](https://github.com/cloudflare/cloudflare-docs/issues/1398) repository as it's the one that is linked on the cloudflare-dns.com website.

The following should work, but it doesn't. Cloudflare DNS uses a custom non-registered MIME type `application/dns-json` which should be `application/dns+json` as per [RFC draft 8427](https://datatracker.ietf.org/doc/html/rfc8427).

The following will return an empty reply as it is ignored.

```
curl -H 'accept: application/dns+json' 'https://cloudflare-dns.com/dns-query?name=example.com&type=AAAA'
```


Hi @cookiengineer ! Cloudflare DNS follows Google's DNS over HTTPS JSON interface as per https://developers.cloudflare.com/1.1.1.1/dns-over-https/json-format so that it's at least interoperable until the format is standardized.

Which is then the DNS specification for this?

What prevents cloudflare from supporting both `application/dns-json` and `application/dns+json` as MIME headers (to be both spec compliant and "google"-compatible)?

I've read the document of RFC 8427.
It's said 
```
Status of This Memo

This document is not an Internet Standards Track specification; it is published for informational purposes.

This document is a product of the Internet Engineering Task Force (IETF). It represents the consensus of the IETF community. It has received public review and has been approved for publication by the Internet Engineering Steering Group (IESG). Not all documents approved by the IESG are candidates for any level of Internet Standard; see Section 2 of RFC 7841.
```
Is this a draft and to be investigated ?